@font-face {
    font-family: open-sans;
    src: url(../../assets/images/Elements_Watering/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
}

.open-sans {
    font-family: open-sans;
}

.sans-serif {
    font-family: sans-serif;
}