<div class="menu">
    <a class="menu-item" href="#analysis">Analysis</a>
    <a class="menu-item" href="#optimization">Optimization</a>
    <a class="menu-item" href="#monitoring">Monitoring</a>
    <a class="menu-item" href="#pricing">Pricing</a>
    <a class="menu-item" href="#services">Services</a>
    <a class="menu-item" href="#login">Login</a>
    <app-custom-button buttonStyle="height: 45px; font-size: 18px; font-weight: 500; border-radius: 25px;" variant="blue-button">Create account</app-custom-button>
</div>
