@import 'app/styles/titles.scss';
@import 'app/styles/colors.scss';
@import 'app/styles/fonts.scss';
@import 'app/styles/weights.scss';
@import 'app/styles/display.scss';
@import 'app/styles/descriptions.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
