<div class="home">
    <div class="details column-center-start">
        <div class="title big-title white-text sans-serif bold-weight">Platform for <br> Water Network Monitoring <br> & Optimization</div>
        <div class="description light-blue bold-weight medium-title sans-serif">Save operation costs and <br> reduce non revenue water</div>
        <app-custom-button buttonStyle="width: 180px; height: 55px;" variant="white-button">Start Today <img src="assets/images/Elements_Watering/arrow-right.png" class="arrow-right"></app-custom-button>
    </div>
    <div class="video">
        <div class="video-container">
            <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
                <source src="assets/videos/katil.mov" type="video/mp4">
            </video>
            <img class="katil-container" src="assets/images/Elements_Watering/Watering_Logo_element_1_big.png">
        </div>
    </div>
</div>
